/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Disabling the default Browse pseudo element */
.custom-file-label::after {
    content: none;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: none;
}

/* Overriding Bootstrap's Custom File classes */
.custom-file {
    cursor: pointer !important;
}

.custom-file-input {
    cursor: inherit !important;
}

.custom-file-label {
    cursor: inherit !important;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
}

    .custom-file-label::before {
        content: "Browse";
        display: inline-block;
        height: 2.25rem;
        padding: 0.375rem 0.75rem;
        margin-right: 0.25rem;
        line-height: 1.5;
        color: #495057;
        background-color: #e9ecef;
        border-right: 1px solid #ced4da;
        border-radius: 0.25rem 0 0 0.25rem;
    }

.dropdown-main-item {
    font-size: 32px;
    color: white;
}

.application-title {
    font-family: 'Segoe UI, Tahoma, Geneva, Verdana, sans-serif' !important;
    color: white !important;
}

a.dropdown-main-item {
    color: white;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #343a40;
    border: 1px solid white;
    text-align: center;
}

.dropdown-item {
    color: white;
    display: inline;
}

    .dropdown-item:hover {
        background-color: inherit;
        color: #d3d3d3;
    }

.dropdown-item-image {
    font-size: 20px;
}

.dropdown-menu > li {
    margin-top: 5px;
}

* {
    box-sizing: border-box;
}

.bg-image img {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: absolute;
    left: 0px;
    height: 80%;
    width: 100%;
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

/* Tooltip container */
/*.custom-tooltip {
    position: relative;
    display: inline-block;*/
    /*border-bottom: 1px dotted black;*/ /* If you want dots under the hoverable text */
/*}*/

    /* Tooltip text */
/*.custom-tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;*/
    /* Position the tooltip text - see examples below! */
    /*position: absolute;
    z-index: 1;*/
    /*bottom: 100%;
    left: 50%;
    margin-left: -60px;
}*/

/* Show the tooltip text when you mouse over the tooltip container */
/*.custom-tooltip:hover .tooltiptext {
    visibility: visible;
}*/

:lang(en) .custom-file-input ~ .custom-file-label::before {
    content: "Browse";
}

.custom-file-input:focus ~ .custom-file-label::before {
    border-color: #80bdff;
}

.input-group > .custom-file:not(:last-child) .custom-file-label::before {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.was-validated .custom-file-input:valid ~ .custom-file-label::before, .custom-file-input.is-valid ~ .custom-file-label::before {
    border-color: inherit;
}

.was-validated .custom-file-input:invalid ~ .custom-file-label::before, .custom-file-input.is-invalid ~ .custom-file-label::before {
    border-color: inherit;
}
