@{
    ViewData["Title"] = "Welcome";
}
<div class="container">
    <div class="bg-image" style="display:inline-block;">
        <img src="~/images/bgIndex.jpg" />
    </div>
    <div class="bg-text" style="display:inline-block;">
        <h1>Hi, how are you?</h1>
        <p>Would you like to hide something today?</p>
    </div>
</div>

